body{
   margin: 0%;
   
   
}
header{
    background-color: rgb(209, 94, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
h1 , h2 , h3 {
    font-family: 'Aclonica';font-size: 22px
    
}
header h1{
    color: azure;
  
}

header img {
    border-radius: 400px;
    border: 15px solid rgb(255, 255, 255);
}
main {
    max-width: 700px;
    text-align: center;
    padding: 0px 20px;
}
